.contact {
  background-color: rgb(37 40 48);
  background-image: url("../assets/svg/contact-bg.svg");
  padding: 320px 0 300px 0;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-size: calc(26px + 20 * (100vw / 1920));
  font-family: Ubuntu;
  padding-bottom: 20px;
  text-align: center;
  line-height: 1.2em;
  font-weight: Bold;
}

@media only screen and (max-width: 560px) {
  .contact {
    padding: 220px 0 200px 0;
  }
}
