.testimonials {
  padding: 30px 0 30px 0px;
}

.testimonials-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonials-item {
  flex-basis: 300px;
}

@media only screen and (max-width: 1300px) {
  .testimonials-item {
    flex-basis: 520px;
    padding: 20px 90px;
  }
}

.item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-text-text span {
  font-size: 16px;
  font-family: Ubuntu;
  line-height: 25px;
  font-weight: 400;
  color: black;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
}

.item-name span {
  font-size: 14px;
  font-family: Ubuntu;
  color: black;
}

.item-prof span {
  font-size: 14px;
  font-family: Montserrat;
  color: rgb(153, 153, 153);
}

.item-star {
  margin-top: 25px;
}
.fa-star {
  font-size: 18px;
  color: rgb(253 191 43);
}
