.timer {
  background-image: url("../assets/svg/timer.svg");
  background-repeat: no-repeat;
  padding-bottom: 170px;
}

.timer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-title {
  color: rgb(106, 86, 206);

  font-size: 62px;
  font-family: Ubuntu;
  font-weight: bold;
  padding-bottom: 10px;
}

.timer-text {
  font-size: 32px;
  font-family: Ubuntu;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 30px;
}

.timer-action {
  font-size: 21px;
  font-family: Montserrat;
  text-transform: uppercase;
  /* margin-top: 10px; */
  padding-bottom: 40px;
}

.timer-action a {
  color: white;
  border: 3px solid white;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.timer-action a:hover {
  background-color: white;
  border: 3px solid rgb(106, 86, 206);
  color: rgb(106, 86, 206);
}

.circles {
  display: flex;
  flex-wrap: wrap;
}

.circle__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 15px;
  flex-basis: 120px;
}

.circle {
  color: rgb(255 255 255);
  width: 125px;
  height: 125px;
  position: relative;
  border-radius: 100%;
  border: rgb(255 255 255) 3px solid;
  margin-bottom: 20px;
}

.time {
  font-size: 15px;
  font-family: Montserrat;
  text-transform: uppercase;
  vertical-align: baseline;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.numbers {
  font-size: 50px;
  font-family: Montserrat;
  text-transform: uppercase;
  vertical-align: baseline;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 620px) {
  .timer {
    background-image: url("../assets/svg/timer-tab.svg");
    background-repeat: no-repeat;
  }

  .circle__block {
    flex-basis: 180px;
  }

  .circles {
    justify-content: center;
  }

  .circle {
    background-color: rgb(58, 78, 255);
    border: 3px solid rgb(255, 255, 255);
  }
}

@media only screen and (max-width: 420px) {
  .timer {
    background-image: url("../assets/svg/timer-mob.svg");
    background-repeat: no-repeat;
  }
}
